@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(45deg, #1a237e, #311b92);  */
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.calculator {
    min-width: 300px;
    margin: 20px;
    border: 1px solid #424242; 
    padding: 20px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent background for better readability */
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5); /* Enhanced shadow */
}

input#display {
    width: calc(100% - 20px); 
    background: rgba(255, 255, 255, 0.1); 
    border: none;
    margin: 10px;
    padding: 15px;
    font-size: 28px; 
    color: #e0e0e0; 
    text-align: right;
    border-radius: 8px; 
    overflow-x: auto; 
    white-space: nowrap; 
}

input::placeholder {
    color: #bdbdbd; 
}

button {
    border: none;
    width: 60px; 
    height: 60px; 
    margin: 8px; 
    border-radius: 8px; 
    background: #424242; 
    font-size: 22px; 
    color: #e0e0e0; 
    cursor: pointer;
}

button:hover {
    background-color: #616161; /* Hover effect */
}

#equalBtn {
    background-color: #ff9800; 
}

.operatorBtn, .clearBtn {
    color: #ff9800; 
}

@media (max-width: 400px) { /* Optimize for smaller screens */
    .calculator {
        margin: 10px;
        padding: 15px;
    }

    button {
        width: 50px;
        height: 50px;
        margin: 5px;
        font-size: 18px;
    }

    input#display {
        font-size: 24px;
        padding: 10px;
    }
}